<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zao.workspace.dao.TMUserMapper">
  <resultMap id="BaseResultMap" type="com.zao.workspace.entity.TMUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_m_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zao.workspace.entity.TMUser">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_m_user (login_name, nick_name, user_pwd, 
      create_by, update_by)
    values (#{loginName,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zao.workspace.entity.TMUser">
    update t_m_user
    set login_name = #{loginName,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, login_name, nick_name, user_pwd, create_by, update_by
    from t_m_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, login_name, nick_name, user_pwd, create_by, update_by
    from t_m_user
  </select>
</mapper>